@import "compass/css3";

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/layout'; // responsive grid and media queries

/********** MOBILE 321PX - 480PX **********/

@media screen and (min-width: 321px) and (max-width:480px) {

	/*CONTENU*/
	.middle-content h1 {
		position: relative;
		left: -70px;
	}

	/*CAROUSSEL*/
	.single-item img {
		width: 100%;
	}

	/*LATEST NEWS*/
	.wonder {
		width: 390px;
		margin-left: -70px;
	}

	.last-news .ln-1 {
		margin-left: -70px;
	}

	.last-news .ln-2 {
		margin-top: 20px;
		margin-left: -70px;
	}

	.last-news .ln-2 li p {
		width: 200px;
	}

	.last-news .ln-3 {
		display: none;
	}

	/*ASIDE*/
	aside {
		display: none;
	}

	/*TOP STARS*/
	.top-stars .ts-ul2 {
		display: block;
	}

	.top-stars .dan, .emma {
		padding-top: 30px;
	}

	.top-stars .tom, .luke, .top-stars .dan, .emma {
		padding: 10px;
	}

	.top-stars .star1, .star2, .star3, .star4 {
		height: 230px;
		width: 190px;
	}

	.top-stars .star5, .star6 {
		display: none;
	}

	/*Footer*/
	footer {
		height: 1100px;
	}

	.foot-bloc .logo-foot {
		position: relative;
		left: 180px;
		top: -5px;
	}

	#foot-bloc-1 .reseaux {
		display: inline-block;
		position: relative;
		left: 480px;
		top: -35px;
	}

	#foot-bloc-1 p {
		position: relative;
		left: 180px;
		margin-top: -20px;
		width: 140%;
	}

	#foot-bloc-2 .imdb {
		margin-top: 750px;
	}

	.foot-bloc .footer-ul-center {
		width: 100px;
		margin-top: 70px;
		margin-left: -10%;
		line-height: 30px;
	}

	#foot-bloc-3 .footer-ul-center {
		margin-top: 750px;
		position: relative;
		left: -100px;
	}

	#foot-bloc-4 {
		position: relative;
		left: -210px;
		margin-top: 180px;
	}

	#subscribe {
		width: 350px;
	}

}


/********** MOBILE 320PX **********/

@media screen and (max-width: 320px) {

	/*CONTENU*/
	.middle-content h1 {
		position: relative;
		left: -70px;
	}

	.middle-content .movie {
		height: 40%;
		width: 20%;
	}

	/*LATEST NEWS*/
	.last-news .ln-1 {
		margin-left: -70px;
	}

	.last-news .ln-2 {
		margin-top: 20px;
		margin-left: -70px;
	}

	.last-news .ln-2 li p {
		width: 70%;
	}

	.last-news .ln-3 {
		display: none;
	}

	/*ASIDE*/
	aside {
		display: none;
	}

	/*TOP STARS*/
	.top-stars .ts-ul2 {
		display: block;
	}

	.top-stars .dan, .emma {
		padding-top: 30px;
	}

	.top-stars .star1, .star2, .star3, .star4 {
		height: 190px;
		width: 150px;
	}

	.top-stars .star5, .star6 {
		display: none;
	}

	/*FOOTER*/
	.foot-bloc .logo-foot {
		position: relative;
		left: 190px;
		top: -5px;
	}

	footer {
		height: 1100px;
	}

	#foot-bloc-1 .reseaux {
		display: inline-block;
		position: relative;
		left: 370px;
		top: -35px;
	}

	#foot-bloc-1 p {
		position: relative;
		left: 190px;
		margin-top: -20px;
		width: 140%;
	}

	#foot-bloc-2 .imdb {
		margin-top: 750px;
	}

	.foot-bloc .footer-ul-center {
		width: 100px;
		margin-top: 70px;
		margin-left: 5%;
		line-height: 30px;
	}

	#foot-bloc-3 .footer-ul-center {
		margin-top: 750px;
		position: relative;
		left: -100px;
	}

	#foot-bloc-4 {
		position: relative;
		left: -200px;
		margin-top: 180px;
	}

	#subscribe {
		width: 250px;
	}

}

/*MOBILE*/
@media screen and (max-width: 970px){
	.opening, .coming {
		display: none;
	}
}

@media screen and (max-width: 320px) {

	/*CONTENU*/
	.middle-content h1 {
		position: relative;
		left: -70px;
	}

	.middle-content .movie {
		height: 40%;
		width: 20%;
	}

	/*LATEST NEWS*/
	.last-news {
		width: 50%;
	}

	.last-news .ln-1 {
		font-size: 9px;
		margin-left: -70px;
	}

	.last-news .ln-2 {
		margin-top: 20px;
		margin-left: -70px;
	}

	.last-news .ln-3 {
		display: none;
	}

	.wonder {
		width: 150px;
		margin-left: -70px;
	}

	.ul-ln2-img {
		width: 30%;
	}

	.ul-ln2-text {
		width: 60%;
		margin-left: -10px;
		font-size: 8px;
	}

	.ul-ln2 li {
		height: 40px;
	}

	/*Aside*/
	aside {
		display: none;
	}

}

body{
	background: $bg-color;
	font-size: 14px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

p {
	font-family: $p-font;
}

ul > li > a {
	color: #fff;
	text-decoration: none;
	font-family: "proxima_nova", sans-serif;
	font-weight: 600;
}

h1, h3, h2 {
	text-transform: uppercase;
	font-family: "proxima_nova", sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: $bg-dark;
}
.bold {
	font-weight: bold
}

button {
	width: 100px;
	background: $yellow;
	font-family: $main-font;
	font-weight: 800;
	font-size: 0.7rem;
	text-transform: uppercase;
	color: #000;
	padding: 12px 0;
	border: 0px solid;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
}

input[type=text], select {
	outline: none;
	background: transparent;
	font-family: $main-font;
	font-weight: 500;
	text-transform: uppercase;
	transition: 1s;
	color: #fff;
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	border: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);

	option {
		color: #000;
	}
}

input:focus {
	border-bottom: 2px solid $yellow;
}

hr {
	width: 90px;
	border: none;
	border-bottom: 2px solid $yellow;
	margin-left: 0px;
}

/*CONTENU*/
.middle-content {
	margin-top: 30px;
	margin-right: 80px;
	margin-left: 80px;
	font-family: "proxima_nova", sans-serif;
}

/*NAVIGATION*/
.nav {
	background: $bg-dark;
	height: 55px;

	.nav__logo {
		float: left;
		margin: 19px 0 0 20px;
	}

	.nav__lister {
		position: absolute;
		background: $bg-dark;
		top: 55px;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		padding: 50px 40px 0 40px;

		li {
			margin-bottom: 40px;
		}
	}

	.nav__connexion {	
		float: right;

		li {
			border-left: 2px solid rgba(255, 255, 255, 0.1);
		}

		li a {
			display: block;
			height: 55px;
			width: 55px;	
		}

		.profil {
			float: left;
			
			a {
				padding: 18px 0 0 19px;
			}
		}
		.search {
			float: right;
			
			a {
				padding: 18px 0 0 18px;
				position:relative;
				z-index: 2000;
			}
		}
	}
}

.pro span {
	color: $blue;
}

/*RESPONSIVE*/
@media only screen and (min-width : 1170px) {
	.nav {
		height: 65px;

		.nav__logo {
			background: $yellow;
			margin:0;
			padding: 24px 30px 20px;
		}
		.nav__burger {
			display: none;
		}
		.nav__lister {
			position: static;
			display: block !important;
			float: left;
			padding: 16px 0 0 0;

			li  {
				float: left;
				padding: 10px 0 0 40px ;
				margin-bottom: 0;
			}

			&:after {
				clear: both;
				content: "";
				display: table;
			 }
		}
		.nav__connexion {	

			li a {
				height: 65px;
				width: 65px;	
			}

			.profil {
				a {
					padding: 23px 0 0 24px;
				}
			}
			.search {
				a {
					padding: 23px 0 0 22px;
				}
			}
		}
		.search__overlay {
			top: 65px;
		}
	}

}

.nav::after {
  clear: both;
  content: "";
  display: table;
 }

.nav__burger {
	position: relative;
	width: 22px;
	height: 16px;
	float: left;
	margin: 20px 0 0 16px;
	cursor: pointer;
	z-index: 1000;

	span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: #fff;

		&:nth-child(2) {
			top: 7px;
		}

		&:nth-child(3) {
			top: 14px;
		}
	}
}


.search__overlay {
	position: absolute;
	background: $bg-dark;
	top: 55px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding: 70px 200px 0 200px;
	text-align: center;
}


.search__overlay button {
	width: 100px;
	margin: 0 auto;
}


.invisible {
	display:none;
}


section {
	display: flex;
}

/*CAROUSSEL*/
.single-item {
	height: 500px;
}

.single-item img {
	width: 1280px;
	height: 500px;
}

.movie-text {
	position: absolute;
	bottom: 50px;
	margin: 0 auto;
	margin-left: 100px;
	color: $white;
	font-family: "proxima_nova", sans-serif;
}

.movie-text h2, .movie-text span {
	color: $white;
	opacity: 0.8;
}

.movie-text button {
	margin-top: 20px;
}

/*ARTICLE*/
article {
	flex: 3;
	width: 45%;
}

.center {
	margin-top: 20px;
}

.slider {
	display: block;
	width: 90%;
}

.slider {
	margin: 0px 20px;
}

.opening, .coming {
	display: block;
}

.slider img {
	width: 100%;
}

/* LATEST NEWS */
.last-news{
	width: 100%;
	margin-top: 40px;
}

.wonder {
	width: 100%;
}

.ln-1 ul {
	border-bottom: 1px solid #21292d;
	height: 26px;
	margin-bottom: 10px;
}

.ln-1 ul li {
	display: inline-block;
	margin: 10px 10px 10px 0px;
}

.ln-2, .ln-3{
	display: inline-block;
}

.ln-2 {
	margin-top: 20px;
}

.ln-1 ul li:nth-child(2) {
	border-bottom: 3px solid #f3cc2f;
}

.ul-ln2 li {
	height: 80px;
	margin-bottom: 10px;
}
.ul-ln2-img, .ul-ln2-text{
	margin-right: 10px;
}


.ul-ln2-img img {
	width: 100%;
}

.ul-ln2 {
	display: inline-block;
	vertical-align: top;
}

.ul-ln2 li p:first-child {
	font-weight: bold;
}

/* TOP STARS */
.top-stars {
	padding: 10px 20px;
	margin-bottom: 40px;
}

.top-stars h1{
	margin-bottom: 10px;
}

.top-stars h3{
	font-weight: bold;
}

.ts-ul {
	display: flex;
	justify-content: space-around;
}

.ts-ul img {
	margin-bottom: 10px;
}

/*ASIDE*/
aside {
	width: 100%;
	flex: 1.2;
	position: relative;
	padding: 10px;
	color: white;
	font-size: 0.9em;
	background: $light-gray;
	height: 1070px;
}

.hits {
	margin-top: 20px;
	height: 20px;
}

.hits li {
	float: left;
	width: 95px;
	position: relative;
	border-bottom: 1px solid $bg-dark;
	font-family: "proxima_nova", sans-serif;
	color: $bg-dark;
}

.movies {
	margin-top: 20px;
}

.twitter {
	margin-top: 30px;
	background-color: $white;
	padding: 20px;
}

.tweet {
	text-transform: uppercase;
	font-family: "proxima_nova", sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: $bg-dark;
}

.follow {
	background-color: $bg-color;
	box-shadow: 0px 1px 10px 0px grey;
	width: 90px;
	margin-left: 110px;
}

.icon img {
	background: $yellow;
	margin:0;
	padding: 15px 7px 15px;
	float: left;
}

.twitter p {
	color: $bg-dark;
	opacity: 0.5;
}

.icon-name {
	margin-left: 70px;
}

.icon-name span {
	text-transform: uppercase;
	font-family: "proxima_nova", sans-serif;
	color: $bg-dark;
	opacity: 0.5;
}

/*FOOTER*/
footer {
	background-color: $foot;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 30px 90px 30px 90px;
}

.footer-link-logo{
	margin-right: 150px;
}

#foot-bloc-1 a {
	display: inline-block;
}

#foot-bloc-1 ul  {
	display: inline-block;
	margin-bottom: 20px;
}

#foot-bloc-1 ul li {
	display: inline-block;
}

.footer-ul-center{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 200px;
}

.footer-ul-center a {
	font-weight: normal;
	cursor: pointer;
	transition: 1s;
	color: $white;
}

.footer-ul-center li {
	font-size: 13px;
}

.footer-ul-center a:hover {
	color: $yellow;
}

.imdb a, .contact a {
	font-weight: bold;
}

.footer-ul-center li:first-child {
	font-weight: bold;
	font-size: 18px;
}


#foot-bloc-4 p {
	color: white;
}

#foot-bloc-1 p{
	color: #fff;
}
