@import "compass/css3";

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/layout'; // responsive grid and media queries

body{
	background: $bg-color;
	font-size: 14px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

p {
	font-family: $p-font;
}

ul > li > a {
	color: #fff;
	text-decoration: none;
	font-family: "proxima_nova", sans-serif;
	font-weight: 600;
}

h1 {
	text-transform: uppercase;
	font-family: "proxima_nova", sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: $bg-dark;
}
.bold {
	font-weight: bold
}

button {
	background: $yellow;
	font-family: $main-font;
	font-weight: 800;
	font-size: 0.7rem;
	text-transform: uppercase;
	color: #000;
	width: 100%;
	padding: 12px 0;
	border: 0px solid;
	border-radius: 3px;
	cursor: pointer;
}

input[type=text], select {
	background: transparent;
	font-family: $main-font;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	width: 100%;
	margin-bottom: 40px;
	padding: 10px;
	border: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);

	option {
		color: #000;
	}
}

/*Contenu*/
.middle-content {
	margin-top: 30px;
	margin-right: 80px;
	margin-left: 80px;
	font-family: "proxima_nova", sans-serif;
}

/*Navigation*/
.nav {
	background: $bg-dark;
	height: 55px;

	.nav__logo {
		float: left;
		margin: 19px 0 0 20px;
	}

	.nav__lister {
		position: absolute;
		background: $bg-dark;
		top: 55px;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		padding: 50px 40px 0 40px;

		li {
			margin-bottom: 40px;
		}
	}

	.nav__connexion {	
		float: right;

		li {
			border-left: 2px solid rgba(255, 255, 255, 0.1);
		}

		li a {
			display: block;
			height: 55px;
			width: 55px;	
		}

		.profil {
			float: left;
			
			a {
				padding: 18px 0 0 19px;
			}
		}
		.search {
			float: right;
			
			a {
				padding: 18px 0 0 18px;
				position:relative;
				z-index: 2000;
			}
		}
	}
}

.pro span {
	color: $blue;
}

@media only screen and (min-width : 1170px) {
	.nav {
		height: 65px;

		.nav__logo {
			background: $yellow;
			margin:0;
			padding: 24px 30px 20px;
		}
		.nav__burger {
			display: none;
		}
		.nav__lister {
			position: static;
			display: block !important;
			float: left;
			padding: 16px 0 0 0;

			li  {
				float: left;
				padding: 10px 0 0 40px ;
				margin-bottom: 0;
			}

			&:after {
				clear: both;
				content: "";
				display: table;
			 }
		}
		.nav__connexion {	

			li a {
				height: 65px;
				width: 65px;	
			}

			.profil {
				a {
					padding: 23px 0 0 24px;
				}
			}
			.search {
				a {
					padding: 23px 0 0 22px;
				}
			}
		}
		.search__overlay {
			top: 65px;
		}
	}

}

.nav::after {
  clear: both;
  content: "";
  display: table;
 }

.nav__burger {
	position: relative;
	width: 22px;
	height: 16px;
	float: left;
	margin: 20px 0 0 16px;
	cursor: pointer;
	z-index: 1000;

	span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: #fff;

		&:nth-child(2) {
			top: 7px;
		}

		&:nth-child(3) {
			top: 14px;
		}
	}
}


.search__overlay {
	position: absolute;
	background: $bg-dark;
	top: 55px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding: 70px 20px 0 20px;
}


.invisible {
	display:none;
}

/* */
section {
	display: flex;
}

/*Article*/
article {
	flex: 3;
	width: 50%;
}

.slider {
	width: 90%;
}

.slick-slide {
	margin: 0px 20px;
}

.slick-slide img {
	width: 100%;
}

/* Last news */
.last-news{
	margin-top: 40px;
}

.ln-1 ul {
	border-bottom: 1px solid #21292d;
	height: 26px;
	margin-bottom: 10px;
}

.ln-1 ul li {
	display: inline-block;
	margin: 10px 10px 10px 0px;
}

.ln-2, .ln-3{
	display: inline-block;
}

.ln-2 {
	margin-top: 20px;
}

.ln-1 ul li:nth-child(2) {
	border-bottom: 3px solid #f3cc2f;
}

.ul-ln2 li {
	height: 80px;
	margin-bottom: 10px;
}
.ul-ln2-img{
	margin-right: 10px;
}
.ul-ln2 {
	display: inline-block;
	vertical-align: top;
}

.ul-ln2 li p:first-child {
	font-weight: bold;
}

/* TOP STARS */
.top-stars {
	padding: 10px 20px;
	margin-bottom: 40px;
}

.top-stars h1{
	margin-bottom: 10px;
}

.top-stars h3{
	font-weight: bold;
}

.ts-ul {
	display: flex;
	justify-content: space-around;
}

.ts-ul img {
	margin-bottom: 10px;
}

/*Aside*/
aside {
	flex: 1.2;
	position: relative;
	padding: 10px;
	color: white;
	font-size: 0.9em;
	background: $light-gray;
	height: 1040px;
}

ul.hits {
	margin-top: 20px;
}

ul.hits ul, li, a {
	color: $bg-dark;
}

ul.hits li {
	float: left;
	width: 95px;
	position: relative;
	border-bottom: 1px solid $bg-dark;
	font-family: "proxima_nova", sans-serif;
}

.movies {
	margin-top: 60px;
}

.twitter {
	margin-top: 30px;
	background-color: $white;
	padding: 20px;
}

.tweet {
	text-transform: uppercase;
	font-family: "proxima_nova", sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: $bg-dark;
}

.follow {
	background-color: $bg-color;
	box-shadow: 0px 1px 10px 0px grey;
	width: 90px;
	margin-left: 90px;
}

.icon img {
	background: $yellow;
	margin:0;
	padding: 15px 7px 15px;
	float: left;
}

.twitter p {
	color: $bg-dark;
	opacity: 0.5;
}

.icon-name {
	margin-left: 70px;
}

.icon-name span {
	text-transform: uppercase;
	font-family: "proxima_nova", sans-serif;
	color: $bg-dark;
	opacity: 0.5;
}

/*Footer*/
footer {
	background-color: $foot;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 300px;
	padding: 50px 90px 0px 90px;
}

.footer-link-logo{
	margin-right: 150px;
}

#foot-bloc-1 a {
	display: inline-block;
}

#foot-bloc-1 ul  {
	display: inline-block;
	margin-bottom: 20px;
}

#foot-bloc-1 ul li {
	display: inline-block;
}

.footer-ul-center{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 200px;
}

.footer-ul-center li:first-child {
	font-weight: bold;
	font-size: 18px;
}


#foot-bloc-4 p {
	color: white;
}
