// colors

$bg-color: #f5f6f8;
$bg-dark: #21292d;
$yellow: #f3cc2f;
$blue: #00a8d3;

// fonts 

$p-font: 'Open Sans', sans-serif;
$main-font: 'proxima_nova', sans-serif;

@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/Proxima/proxima_nova_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/Proxima/proxima_nova_bold_italic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;

}




@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/Proxima/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('../fonts/Proxima/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/Proxima/proxima_nova_semibold_italic-webfont.woff2') format('woff2'),
         url('../fonts/Proxima/proxima_nova_semibold_italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;

}




@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/Proxima/proxima_nova_semibold-webfont.woff2') format('woff2'),
         url('../fonts/Proxima/proxima_nova_semibold-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/Proxima/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/Proxima/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}